@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/* change all font to Nunito */
body {
  font-family: 'Nunito', sans-serif;
}

/* sidebar effects click and hover effects */
@keyframes fillBox {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.activity-item.clicked::before {
  animation: fillBox .5s ease-in forwards;
}

.activity-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #55bba338; 
  z-index: -1;
  transition: width 0.3s;
  border-radius: 0.75rem; 
}

.glow:hover {
    box-shadow: 0 0 5px #55BBA4, 0 0 10px #55BBA4;
}

.clicked {
    box-shadow: 0 0 5px #55BBA4, 0 0 10px #55BBA4, 0 0 15px #55BBA4;
}
/* end of sidebar click and hover effects */

/* .. .. .... animation for loading */
@keyframes ellipsisAnimation {
    0%, 100% {
      content: "..";
    }
    25% {
      content: "...";
    }
    50% {
      content: "....";
    }
    75% {
      content: "...";
    }
    100% {
      content: "..";
    }
  }
/* end of ellipse animation */

/* rotating svg load */
@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

.rotate-svg {
  animation: rotate 5s linear infinite;
}

/* end of rotating loading */