/* glowing animation for Fortis */
@keyframes glowing {
  0% {
    text-shadow: 0 0 5px #FFFFFF, 0 0 10px #121212, 0 0 15px #55BBA4, 0 0 20px #55BBA4;
  }
  100% {
    text-shadow: 0 0 10px #121212, 0 0 20px #121212, 0 0 25px #55BBA4, 0 0 30px #55BBA4;
  }
}
.glow-text {
  animation: glowing 2s infinite alternate;
}
/* end of glowing animation */

/* button effect for start now */
@keyframes fillBox {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
.startNow:hover::before {
  animation: fillBox 1.5s ease-in forwards;
}
.startNow::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #55bba36a; 
  z-index: -1;
  transition: width 0.3s;
  border-radius: 0.375rem;
}
/* end of button effect for start now */

/* .. .. .... animation for scroll down */
@keyframes ellipsisAnimation {
  0%, 100% {
    content: "..";
  }
  25% {
    content: "...";
  }
  50% {
    content: "....";
  }
  75% {
    content: "...";
  }
  100% {
    content: "..";
  }
}
/* end of ellipse animation for scroll down */