@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

/* change all font to Nunito */
body {
    font-family: 'Nunito', sans-serif;
}

.displayheader {
    font-family: 'Kanit', sans-serif;
}

/* animation to make add activity spin */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.spin-smooth {
    transition: transform 0.5s ease;
}

.button-hover:hover svg {
    animation: spin 1s linear forwards;
}

.button-hover:hover {
    opacity: .75;
}

/* end animation to make add activity spin */

/* button effect for start activity */
@keyframes fillBox {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

.startActivity:hover::before {
    animation: fillBox 1.5s ease-in forwards;
}

.startActivity::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #55bba36a;
    z-index: -1;
    transition: width 0.3s;
    border-radius: 0.375rem;
}

.history:hover::before {
    animation: fillBox 1.5s ease-in forwards;
}

.history::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background: #C32E676a;
    z-index: -1;
    transition: width 0.3s;
    border-radius: 0.375rem;
}

@keyframes fillBox2 {
    from {
        height: 0%;
    }

    to {
        height: 100%;
    }
}

.discover:hover::before {
    animation: fillBox2 1.5s ease-in forwards;
}

.discover::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 0;
    background: #2FABDD6a;
    z-index: -1;
    transition: width 0.3s;
    border-radius: 0.375rem;
}

/* end of button effect for start activity */