/* LogPage.module.css

.table {
    border-collapse: collapse;
    margin: 2em;
    width: 100%;
    max-width: 700px;
}

.table th:first-of-type {
    border-top-left-radius: 10px;
}

.table th:last-of-type {
    border-top-right-radius: 10px;
}

.table tr:last-of-type {
    border-bottom-left-radius: 10px;
}

.table tr:last-of-type {
    border-bottom-right-radius: 10px;
}

.table td {
    border: 1px solid #ddd;
    padding: 1em;
    text-align: center;
}

.table th {
    background-color: #C32E6740;
    height: 40px;
}
 */


/* .input {
    margin-bottom: 1em;
    color: white;
    padding: 0.5em;
    width: 100%;
    max-width: 800px;
    background-color: inherit;
    font: "Fira Sans", sans-serif;
} */

/* .dropdown {
    color: black;
    padding: 0.5em;
    width: 100%;
    max-width: 800px;
}

.button {
    padding: 0.5em 1em;
    background-color: #2FABDD80;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
} */

.button:hover {
    background-color: #2FABDD40;
}


.sidePanel {
    position: fixed;
    right: 0;
    top: 65px;
    width: 370px;
    /* Or however wide you want the panel to be */
    height: calc(100vh - 65px);
    /* Assume your navigation bar is 65px tall */
    background-color: inherit;
    /* Or any color you want */
    padding: 1em;
    overflow-y: auto;
    /* If the panel content is longer than the viewport height, this will enable scrolling */
    box-shadow: -2px 0 5px rgba(0, 0, 0, .1);
    /* Optional: add a shadow for a bit of depth */
}

#sidepanel-toggle-button {
    position: relative;
    top: 0px;
    left: 0px;
    width: max-content;
}

#add-exercise-button {
    background-color: #2FABDD80;
    margin-bottom: 40px;
}

#save-exercise-button {
    background-color: #C32E6740;
    margin-bottom: 20px;
    width: max-content;
    height: 80px;
    font-size: x-large;
}